QBITTORRENT_HOST=localhost
QBITTORRENT_PORT=8080
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
QBITTORRENT_TORRENT=

SCALEWAY_ENDPOINT_URL=
SCALEWAY_ACCESS_KEY=
SCALEWAY_SECRET_KEY=
SCALEWAY_BUCKET=
SCALEWAY_REMOTE_PREFIX=

REDDIT_CHUNK_TARGET_BYTES=
